prune static
prune tests
prune docs
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude .editorconfig .readthedocs.yml Makefile Pipfile Pipfile.lock buildout.cfg requirements_dev.txt tox.ini
