[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fhirpath_guillotina = {editable = true,extras = ["test"],path = "."}
black = {version = "==19.3b0"}
isort = {version = "==4.3.21"}
flake8 = {version = "==3.7.8"}
flake8-isort = {version = "==2.7.0"}
zc-buildout = {version = "==2.13.1"}
setuptools = {version = "==41.2.0"}

[packages]
sphinx = {version = "==1.8.5"}
sphinx-rtd-theme = {version = "==0.4.3"}
sphinxcontrib-httpdomain = {version = "==1.7.0"}
sphinxcontrib-httpexample = {version = "==0.10.3"}
tox = {version = "==3.14.0"}
certifi = {version = "==2022.12.7"}
zest-releaser = {extras = ["recommended"],version = "==6.18.2"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
